#forminator-module-585:not(.select2-dropdown) {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}


	#forminator-module-585 {
		border-width: 0;
		border-style: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}


	#forminator-module-585 {
		border-color: rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
	}

#forminator-module-585 .forminator-pagination-footer .forminator-button-paypal {
			flex: 1;
	}
#forminator-module-585 .forminator-button-paypal > .paypal-buttons {
		}
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-response-message,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-response-message p {
		font-size: 15px;
		font-family: inherit;
		font-weight: 400;
	}


	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-error {
		background-color: #F9E4E8;
	}

	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-error,
	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-error p {
		color: #333333;
	}


	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-success {
		background-color: #BCEEE6;
	}

	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-success,
	#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-success p {
		color: #333333;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-loading {
		background-color: #F8F8F8;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-loading,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-response-message.forminator-loading p {
		color: #666666;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-title {
		font-size: 45px;
		font-family: inherit;
		font-weight: 400;
		text-align: left;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-subtitle {
		font-size: 18px;
		font-family: inherit;
		font-weight: 400;
		text-align: left;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-title {
		color: #333333;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-subtitle {
		color: #333333;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 700;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-label .forminator-required {
		color: #E04562;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description-password {
		display: block;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description p {
		font-size: 12px;
		font-family: inherit;
		font-weight: 400;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a:hover,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a:focus,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a:active {
		box-shadow: none;
		text-decoration: none;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description p {
		margin: 0;
		padding: 0;
		border: 0;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description p {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a:hover {
		color: #008FCA;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-description a:active {
		color: #008FCA;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-error-message {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-error-message {
		background-color: #F9E4E8;
		color: #E04562;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-input,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-input input {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	#forminator-module-585.forminator-design--flat .forminator-input,
	#forminator-module-585.forminator-design--flat .forminator-input:hover,
	#forminator-module-585.forminator-design--flat .forminator-input:focus,
	#forminator-module-585.forminator-design--flat .forminator-input:active {
		background-color: #EDEDED;
		color: #000000;
	}

	#forminator-module-585.forminator-design--flat .forminator-input::placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-input:-moz-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-input::-moz-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-input:-ms-input-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-input::-webkit-input-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-is_hover .forminator-input {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .forminator-is_active .forminator-input {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-input {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}

	#forminator-module-585.forminator-design--flat .forminator-input-with-icon [class*="forminator-icon-"] {
		color: #777771;
	}

	#forminator-module-585.forminator-design--flat .forminator-is_active .forminator-input-with-icon [class*="forminator-icon-"] {
		color: #17A8E3;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-suffix {
		font-size: 16px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-suffix {
		color: #000000;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-prefix {
		font-size: 16px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-prefix {
		color: #000000;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-textarea {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	#forminator-module-585.forminator-design--flat .forminator-textarea,
	#forminator-module-585.forminator-design--flat .forminator-textarea:hover,
	#forminator-module-585.forminator-design--flat .forminator-textarea:focus,
	#forminator-module-585.forminator-design--flat .forminator-textarea:active {
		background-color: #EDEDED;
		color: #000000;
	}

	#forminator-module-585.forminator-design--flat .forminator-is_hover .forminator-textarea {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .forminator-is_active .forminator-textarea {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-textarea {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}

	#forminator-module-585.forminator-design--flat .forminator-textarea::placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-textarea:-moz-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-textarea::-moz-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-textarea:-ms-input-placeholder {
		color: #888888;
	}

	#forminator-module-585.forminator-design--flat .forminator-textarea::-webkit-input-placeholder {
		color: #888888;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio {
		font-size: 14px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio {
		color: #000000;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio .forminator-radio-bullet,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio .forminator-radio-image {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio .forminator-radio-bullet:before {
		background-color: #17A8E3;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio input:checked + .forminator-radio-bullet {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio:hover .forminator-radio-image,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-radio input:checked ~ .forminator-radio-image {
		background-color: #E1F6FF;
	}

	#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-radio span[aria-hidden] {
		background-color: #F9E4E8;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox__label,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox__label p {
		font-size: 14px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox__label,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox__label p {
		color: #000000;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox .forminator-checkbox-box {
		background-color: #EDEDED;
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox .forminator-checkbox-image {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox input:checked + .forminator-checkbox-box {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox:hover .forminator-checkbox-image,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-checkbox input:checked ~ .forminator-checkbox-image {
		background-color: #E1F6FF;
	}

	#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-checkbox span[aria-hidden] {
		background-color: #F9E4E8;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat select.forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover {
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] {
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-field.forminator-has_error .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		box-shadow: inset 2px 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 #E04562;
	}


	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat .select2-search input {
		font-size: 16px;
		font-weight: 400;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat .select2-results .select2-results__options .select2-results__option {
		font-size: 16px;
		font-weight: 400;
	}


	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat {
		background-color: #E6E6E6;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat .select2-results .select2-results__options .select2-results__option {
		color: #777771;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted {
		background-color: #DDDDDD;
		color: #000000;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--flat .select2-results .select2-results__options .select2-results__option.select2-results__option--selected {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--default .select2-search input,
	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--default .select2-search input:focus,
	.forminator-select-dropdown-container--open .forminator-custom-form-585.forminator-dropdown--default .select2-search input:hover {
		background-color: #FFFFFF;
		color: #000000;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multiselect .forminator-option {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	#forminator-module-585.forminator-design--flat .forminator-multiselect {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-multiselect {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}

	#forminator-module-585.forminator-design--flat .forminator-multiselect .forminator-option {
		color: #777771;
	}

	#forminator-module-585.forminator-design--flat .forminator-multiselect .forminator-option:hover {
		background-color: #DDDDDD;
		color: #000000;
	}

	#forminator-module-585.forminator-design--flat .forminator-multiselect .forminator-option.forminator-is_checked {
		background-color: #17A8E3;
		color: #FFFFFF;
	}


	.forminator-custom-form-585.forminator-calendar--flat {
		font-family: inherit;
	}


	.forminator-custom-form-585.forminator-calendar--flat:before {
		background-color: #E6E6E6;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-header .ui-corner-all {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-header .ui-datepicker-title select {
		background-color: #FFFFFF;
		color: #777771;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar thead th {
		color: #333333;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default,
	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td.ui-state-disabled span {
		background-color: #E6E6E6;
		color: #777771;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default:hover,
	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-hover {
		background-color: #DDDDDD;
		color: #777771;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default:active,
	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-active {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight {
		background-color: #C8DEE7;
		color: #17A8E3;
	}

	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight:active,
	.forminator-custom-form-585.forminator-calendar--flat .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight.ui-state-active {
		background-color: #17A8E3;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-upload {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-file-upload > span {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-upload {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-upload:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-upload:active {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-file-upload > span {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete {
		background-color: rgba(0,0,0,0);
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete:hover {
		background-color: #F9E4E8;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete:active {
		background-color: #F9E4E8;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete [class*="forminator-icon-"] {
		color: #E04562;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete:hover [class*="forminator-icon-"] {
		color: #E04562;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-delete:active [class*="forminator-icon-"] {
		color: #E04562;
	}


	/*
	====================
	MU Panel Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p {
		font-size: 13px;
		line-height: 1.7;
		font-weight: 400;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:visited,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:hover,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:focus {
		font-weight: 700;
		text-decoration: underline;
	}

	/*
	====================
	MU File Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--title {
		font-size: 13px;
		line-height: 1.3;
		font-weight: 700;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--size {
		font-size: 12px;
		line-height: 1.4em;
		font-weight: 700;
	}


	/*
	====================
	MU Panel Color Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload {
		cursor: pointer;
		background-color: #EDEDED;
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p {
		color: #666666;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:visited,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:hover,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload .forminator-multi-upload-message p a:focus {
		color: #17A8E3;
	}

	/* STATE: Hover */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload:hover {
		background-color: #E6E6E6;
		color: #777771;
	}

	/* STATE: Drag Over */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-multi-upload.forminator-dragover {
		background-color: #E1F6FF;
		color: #17A8E3;
	}

	/* STATE: Error */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-has_error .forminator-multi-upload {
		background-color: #EDEDED;
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
		color: #777771;
	}

	/*
	====================
	MU File Color Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--preview {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--preview [class*="forminator-icon-"] {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--title {
		color: #333333;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--size {
		color: #888888;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file .forminator-uploaded-file--size [class*="forminator-icon-"] {
		color: #888888;
	}

	/* Error */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--image,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--preview {
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--image .forminator-img-preview,
	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--preview {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--preview [class*="forminator-icon-"] {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--size [class*="forminator-icon-"] {
		color: #E04562;
	}


	/*
	====================
	Signature Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-signature .forminator-signature--placeholder {
		font-size: 16px;
		font-weight: 400;
	}


	/*
	====================
	Signature Colors
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-signature {
		background-color: #EDEDED !important;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-signature .forminator-signature--placeholder {
		color: #888888;
	}

	/* STATE: Hover */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-signature:hover {
		background-color: #E6E6E6 !important;
	}

	/* STATE: Error */

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-field-signature.forminator-has_error .forminator-signature {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-submit {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-submit {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-submit:hover {
		background-color: #008FCA;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-submit:active {
		background-color: #008FCA;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-step .forminator-step-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-break {
		background-color: #777771;
	}

	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-break:before {
		background-color: #17A8E3;
	}

	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-step .forminator-step-label {
		color: #17A8E3;
	}

	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-step .forminator-step-dot {
		background-color: #17A8E3;
	}

	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-label {
		color: #777771;
	}

	#forminator-module-585.forminator-design--flat .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-dot {
		background-color: #777771;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-pagination-progress .forminator-progress-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-pagination-progress .forminator-progress-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-pagination-progress .forminator-progress-bar {
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-pagination-progress .forminator-progress-bar span {
		background-color: #17A8E3;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-back {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-back {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-back:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-back:active {
		background-color: #159C85;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-next {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-next {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-next:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-585.forminator-design--flat .forminator-button-next:active {
		background-color: #159C85;
		color: #FFFFFF;
	}


	#forminator-module-585.forminator-design--flat .StripeElement {
		padding: 10px;
		border-width: 0;
		border-style: none;
		border-radius: 0;
		background-color: #EDEDED;
		color: #000000;
		transition: 0.2s ease;
	}

	#forminator-module-585.forminator-design--flat .StripeElement:hover {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .StripeElement--focus,
	#forminator-module-585.forminator-design--flat .StripeElement--focus:hover {
		background-color: #E6E6E6;
	}

	#forminator-module-585.forminator-design--flat .StripeElement--invalid,
	#forminator-module-585.forminator-design--flat .StripeElement--invalid:hover,
	#forminator-module-585.forminator-design--flat .StripeElement--focus.StripeElement--invalid {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}